
			
			              <div class="side-menu animate-dropdown outer-bottom-xs">
                            <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Tableau de bord</div>        
                            <nav class="yamm megamenu-horizontal" role="navigation">
                                <ul class="nav">
                                    <li class="dropdown menu-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-user" aria-hidden="true"></i>Mon profile</a>
                                                    
                                     </li>   
                                    <li>
                                        <a href="{{ path('account_order') }}"><i class="icon fa fa-diamond"></i>Mes commandes</a>
                                    </li>
                                    <li class="dropdown menu-item">
                                        <a href="{{ path('cart_index') }}" ><i class="icon fa fa-shopping-cart" aria-hidden="true"></i>Mon panier</a>
                                  
                                     </li>
                                    <li>
                                        <a href="{{ path('address_index') }}"><i class="icon fa fa-map-marker-alt" aria-hidden="true"></i>Mes adresses</a>
                                  
                                     </li>
                                    <li class="dropdown menu-item">
                                        <a href="{{ path('favorite_index') }}"><i class="icon fa fa-heartbeat"></i>Mes favories</a>
                                        
                                    </li><!-- /.menu-item -->

                                    <li class="dropdown menu-item">
                                        <a href="#" class="dropdown-toggle"><i class="icon fa fa-paper-plane"></i> Méssagerie</a>
                                    </li><!-- /.menu-item -->
                                        
                                    <li class="dropdown menu-item">
                                        <a href="{{ path('account_password')}}" class="dropdown-toggle"><i class="icon fa fa-user-lock"></i>Modifier mon mot de passe</a>
                                   </li><!-- /.menu-item -->

                                    <li class="dropdown menu-item">
                                        <a href="{{ path('contact') }}" disabled><i class="icon fa fa-diamond"></i> Devenir vendeur</a>
                                    </li><!-- /.menu-item -->

                                    <li class="dropdown menu-item">
                                        <a href="{{ path('contact') }}"><i class="icon fa fa-envelope-open-text"></i>Contacter l'admin</a>
                                   </li><!-- /.menu-item -->

                                    <li class="dropdown menu-item">
                                        <a href="{{ path('app_logout') }}"><i class="icon fa fa-sign-out-alt"></i>Se déconnecter</a>
                                    </li><!-- /.menu-item -->
                                
                                </ul><!-- /.nav -->
                            </nav><!-- /.megamenu-horizontal -->
                        </div>
                     
                        
                        <!-- ================================== TOP NAVIGATION : END ================================== -->

                   