{% extends 'base.html.twig' %}

{% block title %}Commande!{% endblock %}

{% block body %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">

				<li><a href="{{path('home')}}">Accueil</a></li>
            
				<li> <a  href="">Commande</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="body-content">
	<div class="container">
		<div class="checkout-box ">
			<div class="row">
				<div class="col-md-8">
					<div class="panel-group checkout-steps" id="accordion">
						<!-- checkout-step-01  -->
<div class="panel panel-default checkout-step-01">

	<!-- panel-heading -->
		<div class="panel-heading">
    	<h4 class="unicase-checkout-title">
	        <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseOne">
	          <span>-</span>INFORMATION DE LA FACTURATION
	        </a>
	     </h4>
    </div>
    <!-- panel-heading -->

	<div id="collapseOne" class="panel-collapse collapse in">

		<!-- panel-body  -->
	    <div class="panel-body">
			<div class="row">		
  {{ form_start(form, {action: path('checkout_confirm')})}}
				<!-- guest-login -->			
				<div class="col-md-12 col-sm-12 guest-login">
                    <ul class="list-group">
                        <li class="list-group-item" aria-current="true"> CHOISIR MON ADRESSES DE LIVRAISON</li>
                       
						         <li class="list-group-item mb-5 mt-5">
								    <p class="mt-3 mb-3">Selectionner une adresse ou cliquer sur le bouton "Ajouter" pour créer une nouvelle addresse !</p>
								    <div class="row">
						                 <div class="col-md-8">
										     

													<ul class="">
														<li class="">
															{{form_widget(form.address) | replace({'[br]' : '<br>'})| replace({'[strong]' : '<strong>'})| replace({'[/strong]' : '</strong>'})|raw}}
																						
														</li>
													
													</ul>
  

							             </div>
										  <div class="col-md-4">
										       <a class="btn btn-success float-right" href="{{path('address_new')}}"> Ajouter une addresse</a>
										  </div>
									 </div>
								  </li>
						    
					        </ul>
                     <ul class="list-group">
                         <li class="list-group-item" aria-current="true"> CHOISIR MON TRANSPORTEUR</li>
                         <li class="list-group-item">
						 
								   <div class=" mt-5 mb-5">
								
								       <div class="pt-5"> {{form_widget(form.carrier)| replace({'<p>' : ''}) | replace({'[--]' : '<br>'})|raw}}</div>
									
								  </div>
                             
						      </li>
							  <li  class="list-group-item">
							       <div class="row">
								              {% for carrier in carriers %}
											   <div class="card">
                                              	<div class="card col-md-3" style="width: 21rem;">
													
													<ul class="list-group list-group-flush bg-light">
													    <li class="list-group-item"><strong>{{carrier.name}}</strong></li>
														<li class="list-group-item"><small>{{ carrier.description|raw}} </small></li>
														<li class="list-group-item">{{carrier.price|number_format(2)}} &euro;</li>
													</ul>
											   </div>
											    </div>
									   {% endfor %}
								   </div>
							  </li>
                           
                     </ul>
					  <ul class="list-group">
                          <li class="list-group-item active" aria-current="true"> LAISSEZ UN COMMENTAIRE</li>
                          <li class="list-group-item">{{form_widget(form.imformation) | replace({'[--]' : '<br>'})| raw}}</li>
                 
                      </ul>
				</div>
			
				<!-- already-registered-login -->		

			</div>			
		</div>
		<!-- panel-body  -->

	</div><!-- row -->
</div>
<!-- checkout-step-01  -->
					    <!-- checkout-step-02  -->
					  	

						

			
			
					</div><!-- /.checkout-steps -->
				</div>
				<div class="col-md-4">
					<!-- checkout-progress-sidebar -->
<div class="checkout-progress-sidebar ">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h4 class="unicase-checkout-title">La progression de paiement</h4>
		    </div>
		    <div class="">
				 <ul class="list-group">
                  
                        <li class="list-group-item active" aria-current="true"> 
                           <div class="row">
                                <div class="col-md-8">
                                   Produits
                                 </div>
                                 <div class="col-md-4">
                                    Total
                                 </div>
                           </div>
                        
                        </li>
                         {% for element in cart.products %}
                         <li class="list-group-item">

                           <div class="row">
                                <div class="col-md-8">
                                    {{element.product.name}} x {{element.quantity}}
                                 </div>
                                 <div class="col-md-4">
                                    {{element.subtotal|number_format(2)}}  &euro;
                                 </div>
                           </div>
                         </li>
                          {% endfor %} 
                           <li class="list-group-item">

                                <div class="row mt-2">
                                        <div class="col-md-8">
                                            Montant en HT
                                        </div>
                                        <div class="col-md-4">
                                                <strong> {{cart.data_cart.amountHT|number_format(2)}}  &euro; </strong>
                                        </div>
                                </div>
                           </li>
                           <li class="list-group-item">
                             <div class="row mt-2">
                                <div class="col-md-8">
                                    Taxe (TVA 20%)
                                 </div>
                                 <div class="col-md-4">
                                    <strong>  {{cart.data_cart.taxe|number_format(2)}}  &euro; </strong>
                                 </div>
                             </div>
                           </li>
                            <li class="list-group-item">
                              <div class="row mt-2">
                                <div class="col-md-8">
                                    Montant à payer en TTC
                                 </div>
                                 <div class="col-md-4">
                                  <strong>  {{cart.data_cart.amountTTC|number_format(2)}}  &euro; </strong>
                                 </div>
                             </div>
                           </li>
                         <li class="list-group-item text-center">
                              <button type="submit" class="btn btn-success  text-center" >
                                Valider la Commande
                              </button>
                         </li>
                     </ul>		
			</div>
		</div>
	</div>
</div> 
{{ form_end(form)}}
<!-- checkout-progress-sidebar -->				</div>
			</div><!-- /.row -->
		</div><!-- /.checkout-box -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

{% endblock %}



