
{# --------------------------------------------------------------------------- #}

{% extends 'admin_azul/layout.html.twig' %}

{% block title %}Commentaires{% endblock %}
{% block style %}
     <!-- DataTables -->
            <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
         <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
{% endblock %}
{% block body %}

 


       
      {# ************************************************************************************** #}

    
        <div class="main-content">
          
                <div class="page-content">
                    <div class="container p-2">

                        <!-- start page title -->
                        <div class="row">
                         {{ include('partials/flash.html.twig')}}
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Liste des produits</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Produits</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="card-title">Produits</h4>
                                      
                                          <div class="text-sm-end">
                                                     <a href="{{ path('admin_product_new') }}" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="fa fa-plus me-1"></i> Ajouter un produit</a>
                                         </div>
 
                                    <div>
                                        <table 
                                               class="table table-bordered dt-responsive table-striped table-nowrap w-100"
                                              data-toggle="table"
                                              id="table" 
                                              data-show-refresh="true"
											  data-show-toggle="true"
											  data-show-fullscreen="true"
											  data-show-columns="true"
											  data-show-columns-toggle-all="true"
                                              data-search="true"
                                              data-filter-control="true" 
                                              data-pagination="true"
                                              data-show-columns="true"
                                              data-click-to-select="true"
                                              data-show-export="true"
                                              data-detail-view="true"
                                              data-page-list="[10, 25, 50, 75, 100]"
                                              data-page-number="45"
                                             
                                               >
                                         
                                            <thead>
                                                    <tr class="bg-primary text-white text-center">
                                                        <th>Id</th>
                                                        <th>Image</th>
                                                        <th data-field="name" data-filter-control="select" data-sortable="true">Nom</th>
                                                        <th data-field="quantity" data-filter-control="select" data-sortable="true">Quantité</th>
                                                        <th data-field="description" data-filter-control="select" data-sortable="true">Description</th>
                                                        <th data-field="info" data-filter-control="select" data-sortable="true">plus Informations</th>
                                                        <th data-field="price" data-filter-control="select" data-sortable="true">Prix</th>
                                                        <th>MV</th>
                                                        <th>O S</th>
                                                        <th data-field="created" data-filter-control="select" data-sortable="true">Créé le</th>
                                                        <th>N</th>
                                                        <th>Ec</th>
                                                        <th>P</th>
                                                         <th>actions</th>
                                                        
                                                    </tr>
                                            
                                            </thead>
        
        
                                            <tbody>
                                                      
                                                      {% for product in products %}
                                                        <tr>
                                                            <td class="text-center" >{{ product.id }}</td>
                                                            <td>
                                                               
                                                                    {% if product.images %} 
                                                                       {% for key, image  in  product.images %}
                                                                         <img class="rounded-circle header-profile-user" src="{{asset('uploads/images/' ~ image.url)}}" alt="Header Avatar">
                                                                         {% if key == 2 or key == 4 or key == 6 %}
                                                                             <br>
                                                                         {% endif %}
                                                                       {% endfor %}
                                                                    {% else %}
                                                                         <img class="rounded-circle header-profile-user" src="{{ asset('uploads/images/user/avatar-user.jpg')}}" alt="Header Avatar">
                                                                    {% endif %}
                                                            </td>
                                                            <td class="text-center">{{ product.name }}</td>
                                                            <td class="text-center">{{ product.quantity }}</td>
                                                            <td class="text-center">{{ product.getConcisSlug }}</td>
                                                            <td class="text-center">{{ product.moreInformations }}</td>
                                                            <td class="text-center"><strong> {{ product.price|number_format(2, '.', ',')}} &euro; </strong></td>
                                                            <td class="text-center">{% if  product.isBestSeller  %} <i class="text-success fas fa-clipboard-check"></i> {% else %} <i class=" text-danger fas fa-calendar-times"></i> </td> {% endif %}
                                                             <td class="text-center">{% if  product.isSpecialOffer %} <i class="text-success fas fa-clipboard-check"></i> {% else %} <i class=" text-danger fas fa-calendar-times"></i> {% endif %}</td>
                                                            <td class="text-center">{{ product.createdAt ? product.createdAt|date('Y-m-d') : '' }}</td>

                                                            <td class="text-center">{% if  product.isNewArrival %} <i class="text-success fas fa-clipboard-check"></i> {% else %} <i class=" text-danger fas fa-calendar-times"></i> {% endif %}</td>
                                                            
                                                            <td class="text-center">{% if  product.isEcolo %} <i class="text-success fas fa-clipboard-check"></i> {% else %} <i class=" text-danger fas fa-calendar-times"></i> {% endif %}</td>
                                                           <td class="text-center">{% if  product.isFeatured  %} <i class="text-success fas fa-clipboard-check"></i> {% else %} <i class=" text-danger fas fa-calendar-times"></i> {% endif %}</td>
                                                            
                                                            <td class="p-2">
                                                                   <div class="dropdown">
                                                                        {% set actionPath = 'admin_product_' %}
                                                                        {% set actionVars = { id: product.id } %}
                                                                        {% set action = ['update', 'delete', 'show'] %}
                                                                        {{ include('./partials/_actions.html.twig', { actionPath: actionPath, actionVars: actionVars, action: action, object: product }) }}

                                                                   </div>
                                                            </td>
                                                            
                                                         </tr>
                                                  {% else %}
                                                    <tr>
                                                        <td colspan="12"> Vous n'avez pas enregistré des produits </td>
                                                    </tr>
                                                  
                                                 {% endfor %}
                                            </tbody>
                                        </table>
                                         </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
        
                       

                    </div> <!-- container-fluid -->
                </div>
            {# ------------------------------------------------- #}
              
            </div>
            <!-- end main content-->



{% endblock %}
 {% block javascript %}
     
       <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/locale/bootstrap-table-fr-FR.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
     <script>
        $(function(){
                    $(".bootstrap-table-filter-control-name").select2()

                     $(".bootstrap-table-filter-control-quantity").select2()
                    $(".bootstrap-table-filter-control-description").select2()
                     $(".bootstrap-table-filter-control-info").select2()
                     $(".bootstrap-table-filter-control-price").select2()
                     $(".bootstrap-table-filter-control-mv").select2()
                     $(".bootstrap-table-filter-control-os").select2()
                    $(".bootstrap-table-filter-control-created").select2()
                    $(".bootstrap-table-filter-control-os").select2()
                     $(".bootstrap-table-filter-control-n").select2()
                    $(".bootstrap-table-filter-control-ec").select2()
                    $(".bootstrap-table-filter-control-p").select2()
         })
     </script>
      
    
   {% endblock %}